 <div style="font-size: 12px;">
<div id="ribbon" style="height: auto;">
    <div class="topwrapper">
     
    </div>
   	<span class="ribbon-window-title">Broadway National Facilities</span>
	<div class="ribbon-tab" id="next-tab9">
			<span class="ribbon-title">Dashboard</span>
			
			<div class="ribbon-section">
   
				
				<div class="ribbon-button ribbon-button-large">
					<span class="button-title"><a href="# target="body">Home</a></span>
					<span class="button-help">This button will do something else.</span>
					<a href="#" target="body"><img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/home.png")"></a>
				</div>
                
                
		  </div>
          <div class="ribbon-section">
   
				
				<div class="ribbon-button ribbon-button-small" id="run-btn">
					<span class="button-title">Follow up 13</span>
					<span class="button-help">Work Orders With Follow Up</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
			  </div>
              
				<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title">PVQ 9</span>
					<span class="button-help">Processed Vendor Quotes</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                
                
				<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title">Materials</span>
					<span class="button-help">Show Materials</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                
                
		  </div>
          
          <div class="ribbon-section">
				<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title">ATF</span>
					<span class="button-help">After The Fact</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                	<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title">Prep</span>
					<span class="button-help">Prepare Documents</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                
                	<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title">Validate</span>
					<span class="button-help">Validate Documents</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>  
		  </div>
          <div class="ribbon-section">
				<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title">Recruit</span>
					<span class="button-help">Recruit Documents</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                	<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title">Track</span>
					<span class="button-help">Track Documents</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                
                	<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title">Hot</span>
					<span class="button-help">Hot Items</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div> 
                
                
                
		  </div>
          <div class="ribbon-section">
   
				
				<div class="ribbon-button ribbon-button-large">
					<span class="button-title">New Work Order</span>
					<span class="button-help">Create a new Work Order.</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/newfile128.png")">
				</div>
                
                
		  </div>
          <div class="ribbon-section">
   
				
				<div class="ribbon-button ribbon-button-large">
					<span class="button-title">Work Order</span>
					<span class="button-help">Create an Ivoice</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/file-info128.png")">
				</div>
                
                
		  </div>
          <div class="ribbon-section">
   
				
				<div class="ribbon-button ribbon-button-large">
					<span class="button-title">Create Invoice </span>
					<span class="button-help">Create Invoice</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/open-file128.png")">
				</div>
                
                
		  </div>
          <div class="ribbon-section">
   
				
				<div class="ribbon-button ribbon-button-large">
					<span class="button-title">Vendors</span>
					<span class="button-help">You View Vendors</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/Group 2.png")">
				</div>
                
                
		  </div>
          <div class="ribbon-section">
   
				
				<div class="ribbon-button ribbon-button-large">
					<span class="button-title">Projects</span>
					<span class="button-help">View Projects.</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/Developer 2.png")">
				</div>
                
                
		  </div>
          <div class="ribbon-section">
   
				
				<div class="ribbon-button ribbon-button-large">
					<span class="button-title">Locations</span>
					<span class="button-help">View Locations.</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/compass.png")">
				</div>
                
                
		  </div>
            <div class="ribbon-section">
   
				
				<div class="ribbon-button ribbon-button-large">
					<span class="button-title">Log Out</span>
					<span class="button-help">You will Now Log off.</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/close.png")">
				</div>
                
                
		  </div>
</div>

    <div class="ribbon-tab" id="next-tab2">
			<span class="ribbon-title">Work Orders</span>
			
			<div class="ribbon-section">
   
				
				<div class="ribbon-button ribbon-button-large">
					<span class="button-title">Home</span>
					<span class="button-help">This button will do something else.</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/home.png")">
				</div>
                
                
		  </div>
          <div class="ribbon-section">
   
				
				<div class="ribbon-button ribbon-button-small" id="run-btn">
					<span class="button-title"><a href="#" target="body">New Work Order</a></span>
					<span class="button-help">Create A New Work Order</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
			  </div>
              
    
              
				<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title"><a href="#" target="body">Work Order Listing</a></span>
					<span class="button-help">See Work order Listings</span>
				  <img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                
                				<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title"><a href="#" target="body">Proposal Listing</a></span>
					<span class="button-help">See Proposal Listings</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                
                
                
			
                
                
	  </div>
          
          <div class="ribbon-section">

          <div class="ribbon-button ribbon-button-small" id="Div1">
					<span class="button-title"><a href="#" target="body">New Project</a></span>
					<span class="button-help">Create A New Project</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                

				<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title"><a href="#" target="body">Project Listing</a></span>
					<span class="button-help">See Project Listingst</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                	<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title"><a href="#" target="body">New Proposal</a></span>
					<span class="button-help">New Proposal</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                
                
                
                
                
                	
                
                
                
    </div>
</div>

    <div class="ribbon-tab" id="next-tab3">
			<span class="ribbon-title">Client Invoices</span>
			
			<div class="ribbon-section">
   			<div class="ribbon-button ribbon-button-large">
					<span class="button-title">Home</span>
					<span class="button-help">This button will do something else.</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/home.png")">
				</div>
		  </div>
          <div class="ribbon-section">
				<div class="ribbon-button ribbon-button-small" id="run-btn">
                <span class="button-title"><a href="#" target="body">Invoice Work Orders</a></span>
					
					<span class="button-help">Invoice Work Orders</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
			  </div>
			<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title">Invoice Transaction Listing</span>
					<span class="button-help">Invoice Transaction Listing</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
				<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title">Batch Listing</span>
					<span class="button-help">Batch Listing</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
		  </div>
          <div class="ribbon-section">
				<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title">Unapplied Cash App</span>
					<span class="button-help">Unapplied Cash App</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                	<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title">Batch Invoices</span>
					<span class="button-help">Batch Invoices</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                	<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title"><a href="#" target="body">Process Client</a></span>
					<span class="button-help">Process Client</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>  
		  </div>
          <div class="ribbon-section">
				<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title">Payments</span>
					<span class="button-help">Payments</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                	<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title">Generic Client Price list</span>
					<span class="button-help">Generic Client Price list</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                
                
                
	    </div>
      </div>

    <div class="ribbon-tab" id="next-tab4">
		<span class="ribbon-title">Vendor Invoices</span>
		<div class="ribbon-section">
   
				
				<div class="ribbon-button ribbon-button-large">
					<span class="button-title">Home</span>
					<span class="button-help">This button will do something else.</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/home.png")">
				</div>
                
                
		  </div>
        <div class="ribbon-section">
   
				
			    <div class="ribbon-button ribbon-button-small" id="run-btn">
					<span class="button-title"><a href="#" target="body">New Vendor Invoice</a></span>
					<span class="button-help">New Vendor Invoice</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
			    </div>
              
    
				<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title"><a href="#" target="body">Document Approval</a></span>
					<span class="button-help">Document Approval</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                
                
				<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title"><a href="#" target="body">Vendor Invoice Listing</a></span>
					<span class="button-help">Vendor Invoice Listing</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                
                
		  </div>
    
        <div class="ribbon-section">
				<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title"><a href="#" target="body">Process Vendor Payments</a></span>
					<span class="button-help">Process Vendor Payments</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                	<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title"><a href="#" target="body">Void Checks</a></span>
					<span class="button-help">Void Checks</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                
                <div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title"><a href="#" target="body">Reprint Checks</a></span>
					<span class="button-help">Reprint Checks</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                
                  
		  </div>
        <div class="ribbon-section">
                    
                    <div class="ribbon-button ribbon-button-small" id="Div3">
					<span class="button-title"><a href="#" target="body">Bank Deposit Listing</a></span>
					<span class="button-help">Bank Deposit Listing</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>

				<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title"><a href="#" target="body">Release Checks</a></span>
					<span class="button-help">Release Checks</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                	<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title">Bank Cleared/Deposit</span>
					<span class="button-help">Bank Cleared/Deposit</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                
                	
                
                
                
		  </div>

           <div class="ribbon-section">
                    
				<div class="ribbon-button ribbon-button-small" id="Div4">
					<span class="button-title">Vendor Generic Price List</span>
					<span class="button-help">Vendor Generic Price List</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div> 
                <div class="ribbon-button ribbon-button-small" id="Div5">
					<span class="button-title">Vendor Price list Editing</span>
					<span class="button-help">Vendor Price list Editing</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div> 

                	<div class="ribbon-button ribbon-button-small" id="Div2">
					<span class="button-title"><a href="#" target="body">Bank Statement Reconciliation</a></span>
					<span class="button-help">Bank Statement Reconcilliation</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
               
                
                
		  </div>
	</div>

    <div class="ribbon-tab" id="next-tab5">
			<span class="ribbon-title">Client locations</span>
			
			<div class="ribbon-section">
   
				
				<div class="ribbon-button ribbon-button-large">
					<span class="button-title">Home</span>
					<span class="button-help">This button will do something else.</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/home.png")">
				</div>
                
                
		  </div>
          <div class="ribbon-section">
   
				
				<div class="ribbon-button ribbon-button-small" id="run-btn">
					<span class="button-title"><a href="#" target="body">Location Listing</a></span>
					<span class="button-help">Location Listing</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
			  </div>
              
				<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title"><a href="#" target="body">Client Listing</a></span>
					<span class="button-help">Client Listing</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
                    
               
				</div>
                
      

                
                
				<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title">Location Merge</span>
					<span class="button-help">Location Merge</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                
                
		  </div>
          
          <div class="ribbon-section">
				<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title">New Client</span>
					<span class="button-help">New Client</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                	<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title">New Location</span>
					<span class="button-help">New Location</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                
                	<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title">Client Price List</span>
					<span class="button-help">Client Price List</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>  
		  </div>
		</div>

    <div class="ribbon-tab" id="next-tab6">
			<span class="ribbon-title">Vendors</span>
			
			<div class="ribbon-section">
   
				
				<div class="ribbon-button ribbon-button-large">
					<span class="button-title">Home</span>
					<span class="button-help">This button will do something else.</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/home.png")">
				</div>
                
                
		  </div>
          <div class="ribbon-section">
   
				
				<div class="ribbon-button ribbon-button-small" id="run-btn">
					<span class="button-title"><a href="@Url.Action("Index","VendorListing")" target="body">Vendor Listing</a></span>
					<span class="button-help">Vendor Listing</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
			  </div>
              
				<div class="ribbon-button ribbon-button-small" id="repeat-btn">
                    <span class="button-title"><a href="#" target="body">Vendor/Generic/Client Price List</a></span>
					<span class="button-help">Vendor/Generic/Client Pricelist</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                
                
				<div class="ribbon-button ribbon-button-small" id="repeat-btn"><a href="#" target="body">New Vendor</a></span>
					<span class="button-help">Show Materials</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                
                
		  </div>
		</div>

    <div class="ribbon-tab" id="next-tab7">
			<span class="ribbon-title">Purchase Orders</span>
			
			<div class="ribbon-section">
   
				
				<div class="ribbon-button ribbon-button-large">
					<span class="button-title">Home</span>
					<span class="button-help">This button will do something else.</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/home.png")">
				</div>
                
                
		  </div>
          <div class="ribbon-section">
   
				
				<div class="ribbon-button ribbon-button-small" id="run-btn">
					<span class="button-title">PO Listing</span>
					<span class="button-help">Purchase Order Listing</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal//run.png")">
			  </div>
              
				<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title">New Purchase Order</span>
					<span class="button-help">New Purchase Order</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                
                
				<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title">PO Vendors</span>
					<span class="button-help">Vendor Purhcase Orders</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                
                
		  </div>
          
          <div class="ribbon-section">
				<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title">PO Parts</span>
					<span class="button-help">PO Parts</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                	<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title">Receive PO</span>
					<span class="button-help">Receive PO</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
          </div>
		</div>

    <div class="ribbon-tab" id="next-tab8">
			<span class="ribbon-title">Procurement</span>
			
			<div class="ribbon-section">
   
				
				<div class="ribbon-button ribbon-button-large">
					<span class="button-title">Home</span>
					<span class="button-help">This button will do something else.</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/home.png")">
				</div>
                
                
		  </div>
          <div class="ribbon-section">
   
				
				<div class="ribbon-button ribbon-button-small" id="run-btn">
					<span class="button-title">Procurement Listing</span>
					<span class="button-help">Procurement Listing</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
			  </div>
              
				<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title">New Procurement</span>
					<span class="button-help">New Procurement</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                
                
				<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title">Procurement ? Configuration</span>
					<span class="button-help">Procurement ? Configuration</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                
                
		  </div>
		</div>

    <div class="ribbon-tab" id="next-tab10">
			<span class="ribbon-title">Reports</span>
			
			<div class="ribbon-section">
   
				
				<div class="ribbon-button ribbon-button-large">
					<span class="button-title">Home</span>
					<span class="button-help">This button will do something else.</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/home.png")">
				</div>
                
                
		  </div>
          <div class="ribbon-section">
   
				
				<div class="ribbon-button ribbon-button-small" id="run-btn">
					<span class="button-title">Work Order Listing</span>
					<span class="button-help">Work Order Listing</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
			  </div>
              
				<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title"><a href="#" target="body">Client Listing</a></span>
					<span class="button-help">Client Listing</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                
                
				<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title">Invoice Listing</span>
					<span class="button-help">Invoice Listing</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                
                
		  </div>
          
          <div class="ribbon-section">
				<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title">Location Listing</span>
					<span class="button-help">Location Listing</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                	<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title">Vendor Listing</span>
					<span class="button-help">Vendor Listing</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                
                	<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title">Project Listing</span>
					<span class="button-help">Project Listing</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>  
		  </div>
          <div class="ribbon-section">
				<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title">Notes Report</span>
					<span class="button-help">Notes Report</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                	<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title">Parts Report</span>
					<span class="button-help">Parts Report</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                
                	<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title">Measurement Reports</span>
					<span class="button-help">Measurement Reports</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div> 
                
                
                
		  </div>
           <div class="ribbon-section">
				<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title">Procurement Report</span>
					<span class="button-help">Procurement Report</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                	<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title">Management Report</span>
					<span class="button-help">Parts Report</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                
                
                
                
                
		  </div></div>

    <div class="ribbon-tab" id="next-tab11">
			<span class="ribbon-title">Administration</span>
			
			<div class="ribbon-section">
   
				
				<div class="ribbon-button ribbon-button-large">
					<span class="button-title">Home</span>
					<span class="button-help">This button will do something else.</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/home.png")">
				</div>
                
                
		  </div>
          <div class="ribbon-section">
   
				
				<div class="ribbon-button ribbon-button-small" id="run-btn">
					<span class="button-title">Manage Users</span>
					<span class="button-help">Manage Users</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
			  </div>
              
				<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title">Company Set Up</span>
					<span class="button-help">Company Set Up</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                
                
                
				<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title"><a href="#" target="body">Support File Set-Up</a></span>
					<span class="button-help">Support File Set-Up</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                
                
		  </div>
          
          <div class="ribbon-section">
				<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title">Commission Set Up</span>
					<span class="button-help">Commission Set Up</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
                	<div class="ribbon-button ribbon-button-small" id="repeat-btn">
					<span class="button-title">Sales Tax Update</span>
					<span class="button-help">Sales Tax Update</span>
					<img class="ribbon-icon ribbon-normal" src="@Url.Content("~/Content/css/icons/normal/run.png")">
				</div>
        </div></div>
    </div>
</div>
